<%@ Master Language="C#"
           Inherits="FacilityCloser.FacilityCloserMaster" %>
<!DOCTYPE html>
<html>
<head runat="server">
	<title>FacilityCloserMaster</title>
</head>
<body>
<div id="container">
<form runat="server">
    <asp:ContentPlaceHolder id="contentPlaceHolder" runat="server" /> 
</form>
</div>
</body>
</html>
